body {
  background-color: #222;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.2em; }

.page-news-timeline-container {
  position: fixed;
  width: 510px;
  background-color: rgba(255, 255, 255, 0.05);
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll; }
  .page-news-timeline-container:before {
    content: "";
    position: fixed;
    left: 248px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5); }

.page-news-timeline {
  min-height: 100px; }
  .page-news-timeline .filters {
    position: fixed;
    top: 10px;
    left: 520px;
    z-index: 10; }
    .page-news-timeline .filters .filter {
      background-color: #ffffda;
      padding: 0 10px;
      border-radius: 3px;
      color: #333;
      line-height: 30px;
      display: inline-block;
      text-decoration: none;
      margin-right: 5px; }
      .page-news-timeline .filters .filter.filter-person {
        position: relative;
        padding-right: 30px; }
        .page-news-timeline .filters .filter.filter-person a.close {
          display: block;
          background-color: #D2D2B4;
          width: 20px;
          height: 20px;
          position: absolute;
          top: 5px;
          right: 5px;
          border-radius: 2px; }
          .page-news-timeline .filters .filter.filter-person a.close:hover {
            background-color: #bfbf94; }
          .page-news-timeline .filters .filter.filter-person a.close:before {
            content: "";
            width: 4px;
            height: 14px;
            background-color: black;
            display: block;
            position: absolute;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            left: 8px;
            top: 3px; }
          .page-news-timeline .filters .filter.filter-person a.close:after {
            content: "";
            width: 4px;
            height: 14px;
            background-color: black;
            display: block;
            position: absolute;
            transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            /* IE 9 */
            -webkit-transform: rotate(-45deg);
            /* Safari and Chrome */
            left: 8px;
            top: 3px; }
  .page-news-timeline .event {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    position: absolute;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 20px;
    left: 30px;
    margin-top: 20px; }
    .page-news-timeline .event .time {
      color: #F4ECA7;
      font-weight: bold;
      font-family: arial;
      text-align: right;
      background-color: #555;
      margin: -10px -10px 10px;
      border-radius: 3px 3px 0 0;
      padding: 0 10px;
      height: 30px;
      line-height: 30px; }
    .page-news-timeline .event .url {
      font-size: 12px;
      color: #ccc;
      word-wrap: break-word;
      word-break: normal;
      display: block;
      margin-top: 10px; }
    .page-news-timeline .event .persons {
      margin: 10px -5px -5px;
      padding: 5px;
      border-radius: 3px;
      background-color: rgba(255, 255, 255, 0.05); }
      .page-news-timeline .event .persons .person {
        position: relative;
        padding-left: 14px;
        font-size: 12px;
        margin-bottom: 3px; }
        .page-news-timeline .event .persons .person a {
          display: inline-block;
          color: #99FFFF;
          text-decoration: none;
          padding: 0 5px;
          -moz-transition: all ease 0.2s;
          -webkit-transition: all ease 0.2s;
          transition: all ease 0.2s;
          border-radius: 3px; }
          .page-news-timeline .event .persons .person a:hover {
            color: #ccffff; }
        .page-news-timeline .event .persons .person:before {
          content: "";
          position: absolute;
          height: 6px;
          width: 6px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 20px;
          left: 5px;
          top: 7px; }
        .page-news-timeline .event .persons .person.selected a {
          background-color: #ffffda;
          color: #333; }
    .page-news-timeline .event:before {
      content: "";
      position: absolute;
      left: 200px;
      top: 7px;
      border: solid 8px transparent;
      border-left: solid 8px rgba(255, 255, 255, 0.2); }
    .page-news-timeline .event:after {
      content: "";
      position: absolute;
      background-color: #999;
      border: solid 2px #ccc;
      height: 8px;
      width: 8px;
      top: 10px;
      left: 214px;
      border-radius: 10px; }
    .page-news-timeline .event.right:before {
      left: -16px;
      border: solid 8px transparent;
      border-right: solid 8px rgba(255, 255, 255, 0.2); }
    .page-news-timeline .event.right:after {
      left: -26px; }
    .page-news-timeline .event.right .time {
      text-align: left; }
