@mixin transition($params){
     -moz-transition : $params;
  -webkit-transition : $params;
          transition : $params;
}

body {
  background-color:#222;
  padding:0;
  margin:0;
  font-size:14px;
  line-height:1.2em;
  overflow-y:scroll;
}

.page-news-timeline {
  margin:20px;
  width:500px;
  background-color:rgba(white, 0.05);
  min-height:100px;
  position:relative;
  margin-top:50px;

  &:before {
    content:"";
    position:absolute;
    left:249px;
    width:2px;
    top:0;bottom:0;
    background-color:rgba(white, 0.5);
  }

  .filters {
    position:fixed;
    top:10px;
    z-index:10;

    .filter {
      background-color:#ffffda;
      padding:0 10px;
      border-radius:3px;
      color: #333;
      line-height:30px;
      display:inline-block;
      text-decoration:none;
      margin-right:5px;

      &:not(:first-child){
        // background-color:rgba(#ffffda, 0.8);
      }

      &.filter-person {
        position:relative;
        padding-right:30px;
        a.close {
          display:block;
          background-color:#D2D2B4;
          width:20px;height:20px;
          position:absolute;
          top:5px;right:5px;
          border-radius:2px;

          &:hover {
            background-color:darken(#D2D2B4, 10%);
          }

          &:before {
            content:"";
            width:4px;
            height:14px;
            background-color:black;
            display:block;
            position:absolute;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg); /* IE 9 */
            -webkit-transform: rotate(45deg); /* Safari and Chrome */
            left:8px;
            top:3px;
          }

          &:after {
            content:"";
            width:4px;
            height:14px;
            background-color:black;
            display:block;
            position:absolute;
            transform: rotate(-45deg);
            -ms-transform: rotate(-45deg); /* IE 9 */
            -webkit-transform: rotate(-45deg); /* Safari and Chrome */
            left:8px;
            top:3px;
          }
        }
      }
    }
  }

  .event {
    color:white;
    background:rgba(white, 0.1);
    border-radius:3px;
    position:absolute;
    width:200px;
    padding:10px;

    box-sizing:border-box;
    -moz-box-sizing: border-box;

    line-height:20px;
    left:30px;
    margin-top:20px;

    .time {
      color:#F4ECA7;
      font-weight:bold;
      // font-size:16px;
      font-family: arial;
      text-align:right;
      background-color:#555;
      margin:-10px -10px 10px;
      border-radius:3px 3px 0 0;
      padding:0 10px;
      height:30px;line-height:30px;
    }

    .url {
      font-size:12px;
      color:#ccc;
      word-wrap: break-word; 
      word-break: normal;
      display:block;
      margin-top:10px;
      // font-family: Helvetica,Arial,sans-serif;
    }

    .persons {
      margin:10px -5px -5px;
      padding:5px;
      border-radius:3px;
      background-color:rgba(white, 0.05);

      .person {
        position:relative;
        padding-left:14px;
        font-size:12px;

        a {
          display:inline-block;
          color:#99FFFF;
          text-decoration:none;
          padding:0 5px;
          &:hover {
            color:lighten(#99FFFF, 10%);
          }
          @include transition(all ease .2s);
          border-radius:3px;
        }

        &:before {
          content:"";
          position:absolute;
          height:6px;width:6px;
          background-color:rgba(white, 0.2);
          border-radius:20px;
          left:5px;top:7px;
        }

        &.selected {
          a { 
            background-color:#ffffda; 
            color:#333;
          }
        }
      }
    }

    &:before {
      content:"";
      position:absolute;
      left:200px;
      top:7px;
      border:solid 8px transparent;
      border-left:solid 8px rgba(white, 0.2);
    }
    &:after{
      content:"";
      position:absolute;
      background-color:#999;
      border:solid 2px #ccc;
      height:8px;width:8px;
      top:10px;
      left:214px;
      border-radius:10px;
    }

    &.right:before {
      left:-16px;
      border:solid 8px transparent;
      border-right:solid 8px rgba(white, 0.2);
    }
    &.right:after {
      left:-26px;
    }
    &.right .time {
      text-align:left;
    }
  }
}